/* FONT-LINKS */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* FONT-LINKS */

/* FONT-FAMILY */
.first-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* ALL-COMMON-CSS-STYLE-START */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
a,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.img-fluid {
  width: 100%;
  height: 100%;
}
.d-flex {
  display: flex;
}
.d-grid {
  display: grid;
}
.b-none {
  border: none !important;
}
.d-lg-none {
  display: none;
}
.container {
  max-width: 1060px;
  margin: 0 auto;
}
.bg {
  background-color: black;
}
.t-t {
  text-transform: capitalize;
}
.t-center {
  text-align: center;
}
.links-bg {
  background-color: #e6533c;
}
/* ALL-COMMON-CSS-STYLE-END */

/* NAVIGATION-PART-STYLE */
#header {
  padding: 58px 0 0 0;
  background: linear-gradient(
    180deg,
    rgb(26 26 26) 0%,
    rgb(74 74 74) 50%,
    rgb(10 10 10) 100%
  );
}
#navbar {
  justify-content: space-between;
  align-items: center;
}
.page-logo a {
  font-weight: 800;
  font-size: 2.25rem;
  color: #e6533c;
}
.nav-list {
  border: 1px solid rgb(114 107 107);
  padding: 4px;
  border-radius: 40px;
  gap: 47px;
}
.nav-list .nav-item {
  padding: 8px 20px;
  transition: all ease-in-out 0.5s;
}
.nav-list .nav-item:hover {
  background-color: #e6533c;
  border-radius: 45px;
}
.nav-list .nav-uni {
  border-radius: 46px;
}
.nav-list .nav-item .nav-links {
  font-size: 1.125rem;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
}

/* NAVIGATION-PART-STYLE */

/* BANNER-PART-STYLE */
.banner {
  justify-content: center;
  align-items: center;
  gap: 88px;
  margin-top: 35px;
}
/* PART-01 */

.banner-text-container {
  max-width: 647px;
}

.banner-text-container h3 {
  font-size: 4.875rem;
  font-weight: 900;
  color: #fff;
}

.banner-text-container p {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  margin: 30px 0;
  letter-spacing: 0.5px;
}
.btn a {
  font-size: 1.125rem;
  font-weight: 600;
  color: #fff;
  border: 1px solid #fff;
  padding: 16px 48px;
  border-radius: 50px;
  display: inline-block;
  transition: background-color 0.4s ease-in-out, border 0.4s ease-in-out;
}
.banner-text-container .btn .join-links {
  border: 1px solid transparent;
  margin-right: 12px;
}
.banner-text-container .btn a:hover {
  border: 1px solid transparent;
  background-color: #e6533c;
}
/* PART-02 */
.banner-img-container {
  max-width: 325px;
  position: relative;
}
.banner-img-container .video {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 195px;
  height: 100px;
  padding: 16px 23px;
  text-transform: capitalize;
  position: absolute;
  top: 106px;
  right: -75px;
}

.banner-img-container .video h3 {
  font-weight: 900;
  font-size: 2.5rem;
  color: #fff;
  letter-spacing: 2px;
}

.banner-img-container .video p {
  font-size: 0.813rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.651);
}

.banner-img-container .tutorial {
  width: 200px;
  height: 95px;
  background-color: rgba(48, 48, 48, 0.54);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50px;
  left: -110px;
}

.tutorial .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.tutorial i {
  color: #fff;
}

.banner-img-container .tutorial .text h3 {
  font-size: 1.5rem;
  font-weight: 900;
  color: #fafaf9;
  letter-spacing: 2px;
}

.banner-img-container .tutorial .text p {
  font-size: 1rem;
  font-weight: 400;
  color: #efede8a6;
}
/* BANNER-PART-STYLE */
/* HABIT-PART-STYLE */
#habit-section {
  margin-top: 100px;
}

.habit-text-container {
  max-width: 668px;
  margin: auto;
}

.habit-text-container h3 {
  color: #fff;
  font-weight: 900;
  font-size: 3rem;
}

.habit-text-container p {
  color: #fff;
  font-weight: 400;
  font-size: 0.875rem;
  padding: 0px 1.25rem;
  margin: 14px 0 58px 0;
}
.habit-img-container {
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.habit-img-item {
  max-width: 235px;
  margin: 0 auto;
}
.habit-img {
  width: 180px;
  height: 180px;
  background: #1a1a1a;
  padding: 4px;
  border-radius: 50%;
  margin: 0 auto;
}
.habit-img img {
  border-radius: 50%;
}
.habit-text h3 {
  font-weight: 600;
  font-size: 1.125rem;
  color: #fff;
  margin-top: 30px;
}
.habit-text p {
  font-weight: 400;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 6px;
  padding: 0 15px;
}
/* HABIT-PART-STYLE */

/* MY-GOAL-PART-STYLE */
#my-goal-section {
  margin: 100px 0;
}
.container-bg {
  background: #222222;
  padding: 30px;
  gap: 14.375rem;
  border-radius: 18px;
  justify-content: space-between;
}
.container-bg .goal-text-container,
.goal-img-container {
  max-width: calc((100% - 160px) / 2);
}
.goal-text-container {
  padding: 10px 0 10px 25px;
  max-width: 65%;
}
.goal-text-container h3 {
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
}
.goal-text-container p {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
  margin: 14px 0 30px 0;
  line-height: 24px;
}
.goal-img-container {
  max-width: 35%;
}
.goal-img-container img {
  border-radius: 18px;
  height: 100%;
}
/* MY-GOAL-PART-STYLE */

/* TRAINING-PART-STYLE */
.training-text-container {
  max-width: 630px;
  margin-bottom: 60px;
}
.training-text-container h3 {
  font-weight: 900;
  color: #fff;
  font-size: 3rem;
}
.training-text-container p {
  font-weight: 400;
  color: #fff;
  font-size: 0.875rem;
}
.training-img-gallery {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 200px);
}
.gallery-collage {
  grid-column: span 3;
  position: relative;
}
.gallery-collage-big {
  grid-column: span 6;
}
.gallery-collage img {
  height: 100%;
}
.sky-blue,
.red-light,
.black-white,
.light-green,
.light-blue {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sky-blue h5,
.black-white h5,
.light-green h5,
.light-blue h5 {
  position: absolute;
  bottom: 28px;
  left: 24px;
}
.red-light h5 {
  position: absolute;
  top: 25px;
  left: 30px;
}
#collage-four h5 {
  position: absolute;
  bottom: 135px;
  left: 330px;
}
.common-text h5 {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
}
.sky-blue {
  background: rgb(6 255 210 / 50%);
}
.red-light {
  background: rgb(255 0 0 / 30%);
}
.black-white {
  background: rgb(0 0 0 / 50%);
}
.light-green {
  background: rgb(66 255 0 / 30%);
}
.light-blue {
  background: rgb(0 72 255 / 50%);
}
/* TRAINING-PART-STYLE */

/* BMI-CALCULATOR-PART-STYLE */
#bmi-text-part {
  margin: 90px 0;
}
.bmi-text {
  max-width: 670px;
  margin: 0 auto;
}
.bmi-text h3 {
  font-size: 3rem;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 14px;
}
.bmi-text p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #ffffff;
  padding-right: 35px;
  line-height: 24px;
}
#bmi-calculator-part {
  background-color: #222;
  padding: 50px 0;
}
.bmi-calculator-container {
  gap: 140px;
}
.bmi-chart {
  width: 350px;
}
.bmi-chart-tittle h3 {
  font-size: 1.75rem;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 50px;
}
#bmi-chart-table {
  border: 1px solid rgb(255 255 255 / 10%);
  border-bottom: none;
}
.table-head {
  border-bottom: 1px solid rgb(255 255 255 / 10%);
}
.table-head p {
  font-size: 1rem;
  font-weight: 400;
  color: #ffff;
  padding: 15px 0 15px 20px;
  width: 50%;
}
.table-head h6 {
  font-size: 0.875rem;
  font-weight: 400;
  color: rgb(255 255 255 / 50%);
  padding: 15px 0 15px 20px;
  width: 50%;
}
.table-head .border-right {
  border-right: 1px solid rgb(255 255 255 / 10%);
}
.bmi-calculate {
  max-width: 570px;
}
.text-content {
  margin-bottom: 34px;
}
.text-content h3 {
  font-size: 1.75rem;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 14px;
  letter-spacing: 2px;
}
.text-content p {
  font-size: 0.875rem;
  font-weight: 400;
  color: rgb(255 255 255 / 50%);
  padding-right: 30px;
  line-height: 24px;
}
.data-input {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.data-input input {
  padding: 12px 0 12px 20px;
  border: none;
  border-radius: 8px;
  background-color: #393939;
  width: 100%;
}
.data-input .size {
  width: 50%;
}
.data-input .gender {
  position: relative;
  width: 50%;
}
.data-input .gender i,
.activity i {
  position: absolute;
  top: 50%;
  right: 20px;
  color: rgb(255 255 255 / 60%);
  transform: translateY(-50%);
}
.data-input .activity {
  position: relative;
  width: 100%;
}
.data-input input::placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(255 255 255 / 60%);
}
.calculate-btn {
  margin-top: 22px;
}
.calculate-btn button {
  font-size: 1.125rem;
  font-weight: 600;
  color: #ffffff;
  background: #e6533c;
  padding: 15px 70px;
  border: none;
  border-radius: 50px;
}
/* BMI-CALCULATOR-PART-STYLE */

/* MY-TEAM-PART-STYLE */
#my-team-section {
  margin: 90px 0;
}
.my-team-text {
  margin-bottom: 60px;
}
.text-container {
  max-width: 670px;
  margin: 0 auto;
  padding: 0 25px;
}
.text-container h3 {
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
}
.text-container p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #ffffff80;
  margin-top: 14px;
  line-height: 24px;
}
.my-team-container {
  background-color: #1a1a1a;
  border-radius: 18px;
  padding: 20px;
}
.my-team-profile {
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.profile-item {
  max-width: 353px;
  height: 270px;
  position: relative;
}
.profile-item img {
  border-radius: 18px;
}
.profile-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 20%);
  border-radius: 18px;
}
.profile-text {
  position: absolute;
  bottom: 17px;
  left: 19px;
}
.profile-text h5 {
  font-size: 1.25rem;
  font-weight: 900;
  color: #ffffff;
}
.profile-text p {
  font-size: 0.875rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
/* MY-TEAM-PART-STYLE */

/* FOOTER-PART-STYLE */
#footer-part {
  background-color: #1a1a1a;
  padding: 65px 0 35px 0;
}

.footer-container {
  gap: 100px;
}
.column-one {
  max-width: 450px;
  padding-right: 25px;
}
.column-one h3 {
  font-size: 4.375rem;
  font-weight: 800;
  font-style: italic;
  color: #e6533c;
  margin-bottom: 20px;
}
.column-one p {
  font-size: 0.875rem;
  font-weight: 400;
  color: rgb(255 255 255 / 50%);
  line-height: 24px;
}
.column-two {
  max-width: 510px;
  grid-template-columns: repeat(2, 1fr);
  gap: 145px;
}
.footer-menu-list h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 40px;
}
.footer-menu-item {
  margin-bottom: 20px;
}
.footer-menu-item .footer-menu-links {
  font-size: 1.25rem;
  font-weight: 400;
  color: rgb(255 255 255 / 50%);
}
.line {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  margin: 80px 0 35px 0;
}
.line-text h3 {
  font-size: 1.25rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
/* FOOTER-PART-STYLE */
/* RESPONSIVE-FOR-SMALL-DEVICE */
@media screen and (max-width: 576px) {
  /* ALL-COMMON-STYLE-FOR-SM-DEVICE */
  .d-sm-none {
    display: none;
  }
  .d-block {
    display: block;
  }
  .sm-device {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }

  /* h1,
  h2,
  h3 {
    font-size: 2rem !important;
  }
  p,
  h5 {
    font-size: 1rem;
  } */

  /* ALL-COMMON-STYLE-FOR-SM-DEVICE */
  /* NAVIGATION-PART */
  .nav-logo a {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-logo a i {
    font-size: 1.5rem;
    color: #fff;
  }
  /* NAVIGATION-PART */
  /* BANNER-PART */
  .banner {
    flex-direction: column;
    margin-top: 50px;
  }
  .banner-text-container h3 {
    font-size: 2.875rem;
    padding-right: 75px;
  }
  .banner-text-container p {
    padding-right: 115px;
    line-height: 25px;
  }
  .btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .btn a {
    font-size: 1rem;
    padding: 16px 30px;
    display: inline-block;
    text-align: center;
    flex: 1;
  }
  .banner-img-container .video {
    padding: 12px 15px;
    top: 62px;
    right: -44px;
    width: auto;
    height: auto;
  }
  .banner-img-container .video h3 {
    font-size: 2rem;
  }
  .banner-img-container .video p {
    font-size: 0.75rem;
  }

  .banner-img-container .tutorial {
    bottom: 230px;
    left: 0;
    padding: 14px 17px;
    width: auto;
    height: auto;
  }
  .tutorial .icon {
    width: 30px;
    height: 30px;
  }
  .banner-img-container .tutorial .text p {
    font-size: 0.75rem;
  }
  /* BANNER-PART */

  /* HABIT-PART */
  #habit-section {
    margin-top: 0px;
  }
  .sm-device-container {
    padding: 0 1.75rem;
  }
  .habit-text-container h3 {
    font-size: 2rem;
  }
  .habit-text-container p {
    color: #fff;
    font-weight: 400;
    font-size: 0.875rem;

    margin: 14px 0 58px 0;
  }
  .habit-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  /* HABIT-PART */

  /* MY-GOAL-PART */
  .container-bg {
    flex-direction: column;
    gap: 30px;
  }
  .goal-text-container,
  .goal-img-container {
    max-width: 100% !important;
    padding: 0;
  }
  .goal-text-container h3 {
    max-width: 305px;
  }
  .goal-text-container p {
    max-width: 275px;
  }
  /* MY-GOAL-PART */

  /* TRAINING-PART */
  .training-text-container {
    margin-bottom: 40px;
    padding-right: 50px;
  }
  .training-text-container h3 {
    font-size: 2rem;
    margin-bottom: 14px;
  }
  .training-text-container p {
    line-height: 24px;
  }
  .training-img-gallery {
    grid-template-rows: auto;
}
  .gallery-collage {
    grid-column: span 7;
  }
  .gallery-collage-big {
    grid-column: span 5;
  }
  #collage-four h5,
  .sky-blue h5,
  .black-white h5,
  .light-green h5 {
    position: absolute;
    bottom: 16px;
    left: 14px;
  }
  /* TRAINING-PART */

  /* BMI-CALCULATOR-PART-RESPONSIVE */
  #bmi-text-part {
    margin: 30px 0;
  }
  .bmi-text h3 {
    font-size: 2rem;
  }
  .bmi-text p {
    padding-right: 50px;
  }
  /* part-two */
  #bmi-calculator-part {
    padding: 35px 0 45px 0;
  }
  .bmi-calculator-container {
    gap: 40px;
    flex-direction: column;
  }
  .bmi-chart-tittle h3 {
    font-size: 1rem;
    margin-bottom: 25px;
  }
  .text-content h3 {
    font-size: 1rem;
    letter-spacing: 0;
  }
  .text-content p {
    padding-right: 50px;
  }
  /* BMI-CALCULATOR-PART-RESPONSIVE */

  /* MY-TEAM-PART-RESPONSIVE */
  #my-team-section {
    margin: 65px 0;
  }
  .my-team-text {
    margin-bottom: 35px;
  }
  .text-container h3 {
    font-size: 2rem;
  }
  .my-team-profile {
    grid-template-columns: repeat(1, 1fr);
  }
  /* MY-TEAM-PART-RESPONSIVE */

  /* FOOTER-PART-RESPONSIVE */
  #footer-part {
    padding: 45px 0 55px 0;
  }
  .footer-container {
    flex-direction: column;
    gap: 30px;
  }
  .column-two {
    gap: 0;
    grid-template-columns: repeat(1, 1fr);
  }
  .line {
    margin: 70px 0 40px 0;
  }
}
