/* FONT-LINKS */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* FONT-LINKS */

/* FONT-FAMILY */
.first-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* ALL-COMMON-CSS-STYLE-START */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
a,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.img-fluid {
  width: 100%;
}
.d-flex {
  display: flex;
}
.d-grid {
  display: grid;
}

.d-lg-none {
  display: none;
}
.container {
  max-width: 1060px;
  margin: 0 auto;
}
.bg {
  background-color: black;
}
.t-t {
  text-transform: capitalize;
}
.t-center {
  text-align: center;
}
.links-bg {
  background-color: #e6533c;
}
/* ALL-COMMON-CSS-STYLE-END */

/* NAVIGATION-PART-STYLE */
#header {
  padding: 58px 0 0 0;
  background: linear-gradient(
    180deg,
    rgb(26 26 26) 0%,
    rgb(74 74 74) 50%,
    rgb(10 10 10) 100%
  );
}
#navbar {
  justify-content: space-between;
  align-items: center;
}
.page-logo a {
  font-weight: 800;
  font-size: 2.25rem;
  color: #e6533c;
}
.nav-list {
  border: 1px solid rgb(114 107 107);
  padding: 4px;
  border-radius: 40px;
  gap: 47px;
}
.nav-list .nav-item {
  padding: 8px 20px;
  transition: all ease-in-out 0.5s;
}
.nav-list .nav-item:hover {
  background-color: #e6533c;
  border-radius: 45px;
}
.nav-list .nav-uni {
  border-radius: 46px;
}
.nav-list .nav-item .nav-links {
  font-size: 1.125rem;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
}

/* NAVIGATION-PART-STYLE */

/* BANNER-PART-STYLE */
.banner {
  justify-content: center;
  align-items: center;
  gap: 88px;
  margin-top: 35px;
}
/* PART-01 */

.banner-text-container {
    max-width: 647px;
}

.banner-text-container h3 {
  font-size: 4.875rem;
  font-weight: 900;
  color: #fff;
}
.banner-text-container p {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  margin: 30px 0;
  letter-spacing: 0.5px;
}
.banner-text-container .btn a {
  font-size: 1.125rem;
  font-weight: 600;
  color: #fff;
  border: 1px solid #fff;
  padding: 16px 48px;
  border-radius: 50px;
  display: inline-block;
  transition: background-color 0.4s ease-in-out, border 0.4s ease-in-out;
}
.banner-text-container .btn .join-links {
  border: 1px solid transparent;
  margin-right: 12px;
}
.banner-text-container .btn a:hover {
  border: 1px solid transparent;
  background-color: #e6533c;
}
/* PART-02 */
.banner-img-container {
  max-width: 325px;
  position: relative;
}
.banner-img-container .video {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 195px;
  height: 100px;
  padding: 16px 23px;
  text-transform: capitalize;
  position: absolute;
  top: 106px;
  right: -75px;
}

.banner-img-container .video h3 {
  font-weight: 900;
  font-size: 2.5rem;
  color: #fff;
  letter-spacing: 2px;
}

.banner-img-container .video p {
  font-size: 0.813rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.651);
}

.banner-img-container .tutorial {
  width: 200px;
  height: 95px;
  background-color: rgba(48, 48, 48, 0.54);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50px;
  left: -110px;
}

.tutorial .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.tutorial i {
  color: #fff;
}

.banner-img-container .tutorial .text h3 {
  font-size: 1.5rem;
  font-weight: 900;
  color: #fafaf9;
  letter-spacing: 2px;
}

.banner-img-container .tutorial .text p {
  font-size: 1rem;
  font-weight: 400;
  color: #efede8a6;
}
/* BANNER-PART-STYLE */
/* HABIT-PART-STYLE */
#habit-section {
  margin-top: 100px;
}

.habit-text-container {
  max-width: 668px;
  margin: auto;
}

.habit-text-container h3 {
  color: #fff;
  font-weight: 900;
  font-size: 3rem;
}

.habit-text-container p {
  color: #fff;
  font-weight: 400;
  font-size: 0.875rem;
  padding: 0px 1.25rem;
  margin: 14px 0 58px 0;
}
.habit-img-container {
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.habit-img {
  width: 180px;
  height: 180px;
  background: #1a1a1a;
  padding: 4px;
  border-radius: 50%;
  margin: 0 auto;
}
.habit-img img {
  border-radius: 50%;
}
.habit-text h3 {
  font-weight: 600;
  font-size: 1.125rem;
  color: #fff;
  margin-top: 30px;
}
.habit-text p {
  font-weight: 400;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 6px;
  padding: 0 15px;
}
/* HABIT-PART-STYLE */
/* RESPONSIVE-FOR-SMALL-DEVICE */
@media screen and (max-width: 576px) {
  /* ALL-COMMON-STYLE-FOR-SM-DEVICE */
  .d-sm-none {
    display: none;
  }
  .d-block {
    display: block;
  }
  .sm-device {
    padding: 0 20px;
  }
  /* ALL-COMMON-STYLE-FOR-SM-DEVICE */
  /* NAVIGATION-PART */
  .nav-logo a {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-logo a i {
    font-size: 1.5rem;
    color: #fff;
  }
  /* NAVIGATION-PART */
  /* BANNER-PART */
  .banner {
    flex-direction: column;
    margin-top: 50px;
  }
  .banner-text-container h3 {
    font-size: 2.875rem;
    padding-right: 75px;
}
  .banner-text-container p {
    padding-right: 115px;
    line-height: 25px;
  }
  .btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .banner-text-container .btn a {
    font-size: 1rem;
    padding: 16px 30px;
    display: inline-block;
    text-align: center;
    flex: 1;
  }
  .banner-img-container .video {
    padding: 12px 15px;
    top: 62px;
    right: -44px;
    width: auto;
    height: auto;
    }
    .banner-img-container .video h3 {
    font-size: 2rem;
    }
    .banner-img-container .video p {
    font-size: 0.75rem;
    }
    
    .banner-img-container .tutorial {
    bottom: 230px;
    left: 0;
    padding: 14px 17px;
    width: auto;
    height: auto;
    }
    .tutorial .icon {
    width: 30px;
    height: 30px;
    }
    .banner-img-container .tutorial .text p {
    font-size: 0.75rem;
    }
  /* BANNER-PART */

  /* HABIT-PART */
  #habit-section {
    margin-top: 0px;
}
  .sm-device-container{
    padding: 0 1.75rem;
  }
  .habit-text-container h3 {
    font-size: 2rem;
}
.habit-text-container p {
    color: #fff;
    font-weight: 400;
    font-size: 0.875rem;
    
    margin: 14px 0 58px 0;
}
.habit-img-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 3.375rem;
}
  /* HABIT-PART */
}
